openapi: '3.0.1'
info:
  title: NachoNacho Public API
  version: 1.0.0

servers:
  - url: https://public.nachonacho.com
    description: Production server

paths:
  /zapier/new-transaction:
    post:
      summary: Zapier subscribe to a new transaction updated
      tags:
        - Subscribe to new transactions
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - companieId
                - targetUrl
                - zapId
              properties:
                companieId:
                  type: string
                  description: The company ID that the user wants to subscribe to
                targetUrl:
                  type: string
                  description: The target URL to trigger the Zap
                zapId:
                  type: string
                  description: The ID of the Zap
      responses:
        '201':
          description: 'The user zap has been created successfully'
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: a message stating that the user Zap has been successfully created in NachoNacho side
                    example: OK
        '400':
          description: Invalid request parameters
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Missing parameters
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unauthorized
        '500':
          description: 'Internal server error'
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Internal server error
      security:
        - BearerAuth: []

    delete:
      summary: Unsubscribe a zap
      tags:
        - Unsubscribe to new transactions
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - companieId
                - zapId
              properties:
                companieId:
                  type: string
                  description: The company ID that the user wants to subscribe to
                zapId:
                  type: string
                  description: The ID of the Zap
      responses:
        '202':
          description: 'The user zap has been deleted successfully'
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: a message stating that the user Zap has been successfully deleted in NachoNacho side
                    example: OK
        '400':
          description: Invalid request parameters
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Missing parameters
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unauthorized
        '500':
          description: 'Internal server error'
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Internal server error
      security:
        - BearerAuth: []

    get:
      summary: Get last transaction data based on company ID
      parameters:
        - name: companieId
          in: header
          description: user company id
          required: true
          schema:
            type: string
      tags:
        - New transactions Perform List
      responses:
        '200':
          description: 'Invoice data retrieved successfully'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invoice'
        '400':
          description: Invalid request parameters
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Missing parameters
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unauthorized
        '500':
          description: 'Internal server error'
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Internal server error
      security:
        - BearerAuth: []

  /zapier/user-companies:
    get:
      summary: Get list of user's companies
      tags:
        - Get user's companies
      responses:
        '200':
          description: 'Invoice data retrieved successfully'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Companies'
        '400':
          description: Invalid request parameters
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Missing parameters
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unauthorized
        '500':
          description: 'Internal server error'
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Internal server error
      security:
        - BearerAuth: []

components:
  schemas:
    Invoice:
      type: object
      description: Invoice data to be returned to Zapier
      properties:
        id:
          type: string
          description: Unique invoice ID
          example: 'cx_35345klj780'
        date:
          type: string
          format: date-time
          description: the creation time of the invoice
          example: '2021-11-12T00:00:00.000Z'
        buyerFinalPrice:
          type: number
          description: the price paid by the buyer
          example: 353.08
        status:
          type: string
          enum:
            - SUCCESSFUL
            - PENDING
            - DUE
            - PAID
            - ERROR
            - ERROR_PAYMENT
            - DISPUTED
        smallId:
          type: number
          description: small reference id
          example: 2342341
        note:
          type: string
          description: a private note that can be set by the buyer
        productId:
          type: string
          description: the id of the purchased product
        productName:
          type: string
          description: the name of the purchased product
        userName:
          type: string
          description: the username of the buyer
        userEmail:
          type: string
          format: email
          description: the email of the buyer
        companieName:
          type: string
          description: the company name of the buyer
        issuedCardName:
          type: string
          description: the name of the issued card used to pay this current invoice
        issuedCardLast4:
          type: string
          description: the 4 last numbers of the card number
        issuedCardCode:
          type: string
          description: the code of the card used to pay the current invoice

    Companies:
      type: array
      description: Basic information about the user's companies
      items:
        type: object
        properties:
          id:
            type: string
            description: Unique company ID
            example: 'cx_35345klj780'
          name:
            type: string
            description: Company name
            example: 'NachoNacho'

  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
